<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
    </head>
    <body>
        <h1>Hoppppa hiba tortent :(</h1>
        <H1><%- error %> in progression: </H1>
        <H2>Stack:</H2>
        <p><%= error.stack %> </p>
    </body>
</html>