<!DOCTYPE html>
<html>

<head>
  <title>Rooms</title>
  <meta charset="utf-8">
  <%- include('header.ejs') -%>

</head>

<body>
  <div class="wrapper">
    <%- include('navbar.ejs') -%>
  </div>

  <form  action="/createRoom" method="post">
    <div class="col-sm-4">
      <div class="row-sm-4">
        <% if (error) { %>
          <p><%=error %></p> 
        <% } %>
        <input type="text" name="roomNumber" len="4" placeholder=" Leave it empty to createroom " />
        <input type="submit" name="submit" value="Join" />
      </div>
      <div class="row-sm-4">
        <input type="checkbox" name="viewer" />
        <label>Join as viewer</label>
      </div>
    </div>
  </form>
  
</body>

</html>